body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: white;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-size: cover;
    background-image: url(Imagenes/Imagen\ de\ WhatsApp\ 2024-09-06\ a\ las\ 08.48.23_cb3462b1.jpg);
}

.login-container {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    padding: 40px;
    max-width: 400px;
    width:100%;
    color: #333;
}

.login-form {
    display: flex;
    flex-direction: column;
}

h2 {
    margin-bottom: 20px;
    font-weight: 600;
    color: #ddb892;
    text-align: center;
}

.input-group {
    position: relative;
    margin-bottom: 25px;
}



input {
    width: 100%;
    padding: 3px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #ddd;
    color: #333;
    font-size: 16px;
    outline: none;
    transition: border-bottom-color 0.3s ease;
}

input:focus {
    border-bottom-color: #ddb892;
}

button {
    padding: 14px;
    background-color: #ddb892;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-top: 15px;
}

button:hover {
    background-color: #e0b14d;
}

.register-link {
    display: block;
    margin-top: 20px;
    text-align: center;
    color: #ddb892;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.register-link:hover {
    color: #e0b14d;
}

.login-form {
    display: flex;
    flex-direction: column;
    text-align: center;
}